body {
  background-color: #FFDC00;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
}

button {
  margin: 0 auto;
  font-family: 'Do Hyeon', sans-serif;
}

.center_items {
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

#years {
  font-size: 0.8em;
  text-align: left;
}
button {
  font-size: 0.9em;
  border-radius: 10px;
  border: solid black;
}
